global:
  scrape_interval: 10s

scrape_configs:
  {% for targets in node_exporter_targets -%}
  - job_name: '{{ targets }}'
    scrape_interval: 5s
    static_configs:
      - targets:
        {% for target in targets -%}
        - '{{ target['ip'] }}:9090'
  {% endfor %}
